*{
  cursor: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f1117;
  color: white;
  /* position: relative; */
}
.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}
.movie-card {
  flex: 0 0 300px;
  position: relative;
  overflow: hidden;
}

.movie-card:focus {
  border: 3px solid #ffffff;
  z-index: 1;
}

.movie-card.active {
  border: 3px solid #ffffff;
  z-index: 1;
}
.movie-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.movie-title {
  margin: 0;
  font-size: 1.2em;
}

.category {
  margin-top: 40px;
}
.category h2 {
  margin-bottom: 20px;
}

.title{
  text-transform: uppercase;
display: flex;
justify-content: center;
}

.title h1{
  z-index: 30;
  color: #ffffff;
  bottom: 6px;
  font-family: "Signika Negative", sans-serif !important;
  font-size: 50px;
}



/* categories content */
/* Google Font Link */

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  margin-top: 26px;
  margin-left: 6px;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar li .a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li .a:hover{
  background: #FFF;
}
.sidebar li .a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar li .a:hover .links_name,
.sidebar li .a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li .a.active{
  background: #FFF;
}
.sidebar li .a.active .links_name,
.sidebar li .a.active i{
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li .a.active .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
  color: #0f1117;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

